.ui-button {
  aspect-ratio: 1 / 1;
  width: 3rem;
  height: 3rem;
  padding: 0;
  background-color: transparent;
  border-radius: var(--border-radius);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0px;
  position: relative;
  color: var(--svg-fill);
  svg,
  img {
    width: 50%;
    height: 50%;
    fill: var(--svg-fill);
    border-radius: 1rem;
  }
}

.ui-disabled {
  opacity: 0.45;
  box-shadow: none;
  cursor: not-allowed;
  pointer-events: all !important;
}
