.create-button {
  position: absolute;
  height: 56px;
  inset: auto 1rem 1rem 1rem;
  width: calc(100% - 2rem);
  svg {
    width: unset; /* override Button.svg width */
    height: 70%;
  }
  span {
    font-weight: bold;
  }
}
