.radio-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid var(--static-noise-bg);
  border-radius: var(--border-radius);
  align-items: center;
  color: var(--label-color);
  margin: 0px;
  margin-bottom: 1.25rem; /* match */
  padding: 0 8px;

  legend {
    padding: 0 5px 0 5px;
    font-size: 0.75rem;
  }

  > div {
    display: flex;
    align-items: center;
    translate: 0 -3.75px; /* minor adjust because fieldset legend reduces content box*/

    > div {
      display: flex;
      align-items: center;
      border-radius: var(--border-radius);
    }
    label {
      white-space: nowrap;
      font-size: 1rem;
    }

    input {
      appearance: none;
      margin: 0;
      width: 100%;
      aspect-ratio: 1 / 1;
      cursor: pointer;
      background-color: transparent;
      position: relative;
      height: 1.4375rem;
      box-sizing: content-box;
      padding: 16.5px 14px;
    }

    input::before,
    input::after {
      content: "";
      position: absolute;
      inset: 50%;
      translate: -50% -50%;
      aspect-ratio: 1 / 1;
      transition: all cubic-bezier(0.83, 0, 0.17, 1) 300ms;
      border-radius: 100vw;
    }

    input::before {
      width: 0px;
    }

    input::after {
      width: 33.333%;
      border: 2px solid var(--label-color);
    }

    input:checked::before {
      width: 20.08333%;
      background-color: var(--text-color);
    }

    input:checked::after {
      border: 2px solid var(--text-color);
    }

    div:has(input:checked) + label {
      color: var(--text-color);
    }
  }

  > div:nth-of-type(2n + 1) {
    flex-grow: 1;
  }
}
