.edit-page-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
}

.edit-page-modal .back-button {
  background-color: white;
  color: black;
  font-size: 1.1rem;
}
