:root {
  --input-height: 2.5rem;
}
.create-or-edit-workout-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  [class^="input-wrapper"] {
    height: var(--input-height);
  }

  .numerical-input-wrapper {
    display: flex;
    gap: 0.5rem;

    > div {
      width: 50%;
    }
  }

  .radio-group {
    border: 1px solid #e9e9ed;
    border-radius: 10px;
    color: #e9e9ed;
    height: 4rem;
    legend {
      color: orange;
    }
    div {
      color: black;
    }
    margin-bottom: 1.25rem;
  }

  .weight-counter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    border: 2px solid black;
    color: white;
    border-radius: 10px;
    height: var(--input-height);
    margin-top: 1rem;
    label {
      position: absolute;
      left: 0;
      top: -3px;
      z-index: 10;
      color: black;
      transform: translateY(-50%);
      margin-left: 1rem;
      font-size: var(--focus-font-size);
      width: fit-content;
      height: fit-content;
    }
    button {
      aspect-ratio: 1 / 1;
      padding: 0;
      width: 2.5rem;
      height: 2.5rem;
      box-shadow: none;
      background-color: transparent;

      svg {
        width: 50%;
        height: 50%;
        fill: white;
      }
    }
  }
}
