:root {
  --input-height: 2.5rem;
}
.create-or-edit-workout-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  [class^="input-wrapper"] {
    height: var(--input-height);
  }

  .numerical-input-wrapper {
    display: flex;
    gap: 0.5rem;

    > div {
      width: 50%;
    }
  }
}
