.routine {
  width: 10rem;
  aspect-ratio: 1 / 1.414;
  overflow: hidden;
  position: relative;
  margin: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--routine-border-color);
  cursor: pointer;
  height: fit-content;

  button {
    z-index: 1;
    margin: 0.5rem 0.5rem 0.5rem auto;
    border-radius: 4px;
    background-color: var(--routine-button-border-color);
    &::before {
      opacity: 0.03 !important; /* override .ripple:hover::before opacity*/
    }
  }

  > svg {
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    translate: -50% 0;
    background-color: var(--main-background);
  }

  > article {
    color: var(--text-color);
    font-weight: bold;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    aspect-ratio: 1 / calc(sqrt(2) - 1);
    bottom: 0;
    background-color: var(--static-noise-bg);
    padding: 0.5rem 0 0 0.5rem;
    border: none; /* overriding .frosted-glass:border*/
    backdrop-filter: blur(7px);
    
    > h5 {
      letter-spacing: normal;
      font-weight: normal;
      margin-top: 0.25rem;
      opacity: 0.6;
    }
  }
}

.edit-routine-dialog {
  form {
    --hue: 31;
  }
}
